{%extends 'base.html'%}

{%block sidebar%}
{%include 'include/_sidebar.html'%}
{%endblock sidebar%}
{%block content%}

<h1> Добавление новостей </h1>
<form action="" method="post">
    {%csrf_token%}
<!--    1способ автоматический когда джанго собирает форму-->
        {{form.as_p}}
<!--    выводит ошибки связанные со скрытыми полями-->
    {{form.non_field.errors}}

    {%comment%}
<!--    2-способ вручную-->
<!--    создаем в ручную флрму копируя из bootstrap4. -->
<!--    {{form.title.id_for_label}}-нужен для того чтобы вывести соотвествующую-->
<!--    строку из формы.-->
    <div class="form-group">
        <label for="{{form.title.id_for_label}}">Название</label>
<!--        {{form.title}}-выполяет роль input-длч вывода строки-->
        {{form.title}}
<!--        проверяте строку на ошибки валидации-->
        <div class="invalid-feedback">
            {{form.title.errors}}
      </div>
    </div>
    <div class="form-group">
        <label for="{{form.content.id_for_label}}">Текс</label>
<!--        {{form.title}}-выполяет роль input-длч вывода строки-->
        {{form.content}}
<!--        проверяте строку на ошибки валидации-->
        <div class="invalid-feedback">
            {{form.content.errors}}
      </div>
    </div>
    <div class="form-group">
        <label for="{{form.is_published.id_for_label}}">ОПубликованно?</label>
<!--        {{form.title}}-выполяет роль input-длч вывода строки-->
        {{form.is_published}}
<!--        проверяте строку на ошибки валидации-->
        <div class="invalid-feedback">
            {{form.is_published.errors}}
      </div>
    </div>
    <div class="form-group">
        <label for="{{form.category.id_for_label}}">Категория</label>
<!--        {{form.title}}-выполяет роль input-длч вывода строки-->
        {{form.category}}
<!--        проверяте строку на ошибки валидации-->
        <div class="invalid-feedback">
            {{form.category.errors}}
      </div>
    </div>

<!--    3сопособ полуавтомат-->
    {%for field in form%}
    <div class="form-group">
        {{field.label_tag}}
        {{field}}
        <div class="invalid-feedback">
            {{field.errors}}
        </div>
    </div>
    {%endfor%}
    {%endcomment%}
<button type="submit"  class="btn btn-primary btn-block">
    Добавить новость </button>
</form>
{%endblock content%}
